@import 'variables';
@import 'mixins';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Be Vietnam", sans-serif;   
    color: $Dark-Blue;
    // display: none;
}

body {
    background-image: url(../images/bg-tablet-pattern.svg), url(../images/bg-tablet-pattern.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: 116% -10%, -71% 65%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    font-weight: bold;
}

h1 {
    font-size: 3rem;
    line-height: 1.2;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1rem;
}

p {
    color: $Dark-Grayish-Blue;
}

footer {
    background-color: $Very-Dark-Blue;
}

input[type=text] {
    @include footer-border;
    margin-right: 10px;
}

input[type=text]:focus {
    outline: none;
}

input[type=submit] {
    @include footer-border;
    background-color: $Bright-Red;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

input[type=submit]:hover {
    transition: 0.3s ease;
    background-color: lighten($Bright-Red, $amount: 10);
}